/*Page partenaires*/

.partenaires{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo-chouette {
    height: 15vh;
}

#partenaires{
    display: flex;
    height: 70vh;
    /*background-color: #F3976C;*/
    color: #000000;
    font-size: 1.8rem;
    padding-top: 3%;
    padding-left: 5%:
    padding-bottom:3%;
}

li{
    font-size: 1.6rem;
}

.titre-bandeau{
    font-size: 25px;
}

.bandeau-entete{
     background-color: #F3976C;
     padding: 3%;
}

/* Responsive */

@media (min-width: 320px) and (max-width: 700px) {
    #partenaires{
    display: flex;
    flex-direction: column;
    height: 90vh;
    font-size:0.9em;
    padding-left: 15%;}
    .logo-chouette{
        height: 10vh;
        width: 80%;}
    li{
        font-size: 0.8em;
    }

}